data/
experiments/
**/images/
imgs/
models/
others/
**/wandb/
**/wandb/**
**/wandb*
.idea/
**/.ipynb_checkpoints/
**/.DS_Store
*.pyc
*.h5
*.pkl
images/
/notebooks/2-outputs/
notebooks/gan_proton_15_2312/
notebooks/vae_proton_15_2312/
notebooks/vae_proton_70_2312/